@import '../../assets/sass/common/colors.scss';
@import '../../assets/sass/common/breakpoints.scss';

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h1 {
            text-align: center;
            font-size: 4rem;
    
            span {
                color: $accentColor
            }
        }
    }

    .buttons-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0 8rem;
    }

    .text-container p, .buttons-container p {
        font-size: 1rem;
        font-weight: 200;
    }
}
