@import '../../assets/sass/common/colors.scss';
@import '../../assets/sass/common/breakpoints.scss';

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        color: $accentColor;
    }
}

