@import '../../assets/sass/common/colors.scss';
@import '../../assets/sass/common/breakpoints.scss';

.hidden-menu {
    transform: translateX(100%);
}
.mobile-menu {
    position: fixed;
    top: 5rem;
    width: 100vw;
    height: calc(100vh - 5rem);
    background: $darkColorRelief;
    transition: .2s ease-in-out;
}

@media (min-width: $breakpointLargeTablet) {

    .mobile-menu {
        display: none;
    }
}
