@import '../../../assets/sass/common/forms-style.scss';
@import '../../../assets/sass/common/colors.scss';

form {
    max-width: unset;

    .input-container {
        display: grid;
        grid-template-columns: .75fr 5fr 1fr;
        gap: 2rem;
        align-items: center;

        .logo-container {
            display: inline-block;

            img {
                display: block;
                width: 100%;
            }
        }

        .buttons-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .actions-container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px rgba($whiteColor, .25);
                cursor: pointer;

                    &:hover > p {
                        color: $accentColor;
                    }
                }
        }

    }

    .manualLinks-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        select {
            width: 100%;
            height: 3rem;
            background: transparent;
            border: solid 1px rgba($whiteColor, .25);
        }
    }
}