@import '../../../assets/sass/common/colors.scss';
@import '../../../assets/sass/common/breakpoints.scss';

.linkEditor-form {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .section-name {
        width: 100%;
        display: flex;
        align-items: baseline;
        gap: 1rem;

        p {
            white-space: nowrap;
            font-size: 1.25rem;
        }

        .separator {
            width: 100%;
            height: 1px;
            background: rgba($whiteColor, .1);
        }
    }

    .manual-links, .generated-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        select {
            width: 100%;
            height: 3rem;
            appearance: none;
            background: $darkColorRelief;
            color: $whiteColor;
            font-size: 1rem;
            padding-left: .5rem;
            outline: none;
            border-color: rgba($whiteColor, .1);

            .default-option {
                color: rgba($whiteColor, .25);
            }
        }
    }
}