@import '../../assets/sass/common/colors.scss';

.card-button {
    width: 100%;
    height: 2rem;
    color: $whiteColor;
    background: rgba($accentColor, .05);
    border: solid 1px rgba($accentColor, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    transition: transform .2s ease;

    &:hover {
        background: rgba($accentColor, .25);
        border-color: rgba($accentColor, 1);
        transform: translateY(.15rem);
    }
}