@import '../assets/sass/common/colors.scss';

.landing-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-clip: border-box;

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgba(black, .4);
        backdrop-filter: blur(1rem);
        overflow: hidden;
        background-clip: border-box;
        position: relative;
    }
}