@import '../../assets/sass/common/colors.scss';

.navItems-container {
    display: flex;
    gap: 2rem;

    .navItem {
        cursor: pointer;
        transition: transform .2s ease;

        &:hover {
            color: $accentColor;
            transform: translateY(.25rem)
        }
    }
}