@import '../../assets/sass/common/colors.scss';
@import '../../assets/sass/common/breakpoints.scss';

.message-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    h1 {
        font-size: 4.5rem;

        span {
            color: $accentColor;
        }
    }

    p {
        font-weight: 200;
    }
}

@media (min-width: $breakpointLargeTablet) {
    
}